# temp folder
tmp

# Frontend asset
web/dist

# Build artifacts
build/
bin/
memos

# Plan/design documents
docs/plans/

.DS_Store

# Jetbrains
.idea

# Docker Compose Environment File

dist

# VSCode settings
config.bat
node_modules
